<% include ../partials/_header %>

<div class="col-12">
        <!-- Main Content -->
        <main class="row">
      
            <!-- Category Products -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12 py-3">
                        <div class="row">
                            <div class="col-12 text-center text-uppercase">
                                <h2>Computers</h2>
                            </div>
                         
                        </div>
                        <div class="row">
                              <% prodtres.forEach(function (prodtre) { %>
      
                            <!-- Product -->
                            <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                <div class="col-12 bg-white text-center h-100 product-item">
                                    <div class="row h-100">
                                        <div class="col-12 p-0 mb-3">
                                            <a href="/prodtresredirect/<%= prodtre.id %>">
                                                <img src="<%= prodtre.image %>" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-12 mb-3">
                                              <%= prodtre.title %> 
                                        </div>
                                        <div class="col-12 mb-3">
                                                <span class="product-price-old">
                                                    $<%= prodtre.price %> 
                                                </span>
                                            
                                        </div>
                                        <div class="col-12 mb-3 align-self-end">
                                              <a href="/prodtresredirect/<%= prodtre.id %>" class="btn btn-outline-dark" type="button"><i class="fas fa-cart-plus mr-2"></i>ver detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            <% }) %>
      
                        </div>
                    </div>
                </div>
            </div>
            <!-- Category Products -->
            <div class="col-12">
                <div class="row">
                      <!-- pagination -->
                      <% if(pages > 0) { %> <!-- show pagination if there is pages -->
                        <nav  class="mx-auto" style="margin-bottom: 50px">
                          <ul class="pagination">
                            <!-- FIRST ITEM -->
                            <% if(current == 1) { %>
                              <li class="page-item disabled">
                                <a class="page-link" href="#">First</a>
                              </li>
                            <% } else { %>
                              <li class="page-item">
                                <a class="page-link" href="/prodtresindex/1">First</a>
                              </li>
                            <% } %>
                            <!-- ITEMS  -->
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if(i !== 1) { %>
                              <li class="page-item disabled">
                                <a class="page-link" href="#">...</a>
                              </li>
                            <% } %>
                            <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                              <% if(i == current) { %>
                                <li class="page-item active">
                                  <a class="page-link" href="<%= i %>">
                                    <%= i %>
                                  </a>
                                </li>
                              <% } else { %>
                                <li class="page-item">
                                  <a class="page-link" href="/prodtresindex/<%= i %>">
                                    <%= i %>
                                  </a>
                                </li>
                              <% } %>
                              <% if (i == Number(current) + 4 && i < pages) { %>
                                 <li class="page-item disabled">
                                   <a class="page-link" href="#">...</a>
                                 </li>
                              <% } %>
                            <% } %>
                            <!-- LAST ITEM -->
                            <% if(current == pages) { %>
                              <li class="page-item disabled">
                                <a class="page-link" href="#">
                                  Last
                                </a>
                              </li>
                            <% } else { %>
                              <li class="page-item">
                                <a class="page-link" href="/prodtresindex/<%= pages %>">
                                  Last
                                </a>
                              </li>
                            <% } %>
                          </ul>
                        </nav>
                      <% } %>
                    </div>
                  </div>
          
      
      
      

  <% include ../partials/_footer %>