<% include ../partials/_header %>


<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Agregue un nuevo producto</h3>
    </div>
    <div class="card-body">
      <form action="/produno/new-produno" method="POST">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="name" autofocus/>
        </div>
       <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="title" autofocus/>
        </div>
        <div class="form-group">
            <input type="text" name="image" class="form-control" placeholder="imagen 1" autofocus/>
          </div>
          <div class="form-group">
            <input type="text" name="imagedos" class="form-control" placeholder="imagen 2" autofocus/>
          </div>
          <div class="form-group">
            <input type="text" name="imagetres" class="form-control" placeholder="imagen 3" autofocus/>
          </div>
                 <div class="form-group">
            <input type="text" name="description" class="form-control" placeholder="descripcion" autofocus/>
          </div>
                 <div class="form-group">
            <input type="text" name="price" class="form-control" placeholder="precio" autofocus/>
          </div>
                 
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>





<div class="col-12">
    <!-- Main Content -->
    <main class="row">
  
        <!-- Category Products -->
        <div class="col-12">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="row">
                        <div class="col-12 text-center text-uppercase">
                            <h2>Computers</h2>
                        </div>
                    </div>
                    <div class="row">
                          <% produno.forEach(function (produn) { %>
  
                        <!-- Product -->
                        <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                            <div class="col-12 bg-white text-center h-100 product-item">
                                <div class="row h-100">
                                    <div class="col-12 p-0 mb-3">
                                        <a href="/prodtresredirect/<%= produn.id %>">
                                            <img src="<%= produn.image %>" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="col-12 mb-3">
                                          <%= produn.title %> 
                                    </div>
                                    <div class="col-12 mb-3">
                                            <span class="product-price-old">
                                                $<%= produn.price %> 
                                            </span>
                                        
                                    </div>
                                    <div class="col-12 mb-3 align-self-end">
                                        <a class="btn btn-danger" href="/produno/delete/<%= produn.id %>">
                                          Eliminar
                                      </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product -->
                        <% }) %>
  
                    </div>
                </div>
            </div>
        </div>
        <!-- Category Products -->










        <% include ../partials/_footer %>
        