<% include ../partials/_header %>



<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Agregue un nuevo producto</h3>
    </div>
    <div class="card-body">
      <form action="/produno/new-produno" method="POST">
        <div class="form-group">
          <input type="text" name="imagePath" class="form-control" placeholder="image" autofocus/>
        </div>
       <div class="form-group">
          <input type="text" name="product" class="form-control" placeholder="product" autofocus/>
        </div>
        <div class="form-group">
            <input type="text" name="talle" class="form-control" placeholder="talle" autofocus/>
          </div>
                 <div class="form-group">
            <input type="text" name="color" class="form-control" placeholder="color" autofocus/>
          </div>
                 <div class="form-group">
            <input type="text" name="tallestock" class="form-control" placeholder="tallestock" autofocus/>
          </div>
                 <div class="form-group">
            <input type="text" name="colorstock" class="form-control" placeholder="colorstock" autofocus/>
          </div>
        <div class="form-group">
          <input type="number" name="price" class="form-control" placeholder="price" autofocus/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="row mt-5">
    <% produno.forEach(function (produn) { %>
      <div class="col-md-3 ">
       <div class="card"> 
          <a href="/produnobackend/<%= produn.id %>">
         <img class="card-img-top img-fluid" alt="img1" src="<%= produn.imagePath %>">
          </a>
          <div class="card-body">
        <div class="card-heading"><%= produn.product %></div>
        <h4> $<%= produn.price %>  </h4>
        <a class="btn btn-pink text-light"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</a> </div>
        <div class="card-body">
            <a class="btn btn-danger" href="/produno/delete/<%= produn.id %>">
               Eliminar
           </a>
        </div> 
        </div>
  </div>
  <% }) %>


</div>
     
</div>
</div>
</div>

      



        <% include ../partials/_footer %>
        