<% include ../partials/_header %>

<div class="col-12">
    <!-- Main Content -->
    <main class="row">
        <div class="col-12 bg-white py-3 my-3">
            <div class="row">

                <!-- Product Images -->
                <div class="col-lg-5 col-md-12 mb-3">
                    <div class="col-12 mb-3">
                        <div class="img-large border" style="background-image: url('<%= produno.image %>')"></div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('<%= produno.image %>')" data-src="<%= produno.image %>"></div>
                            </div>
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('<%= produno.imagedos %>')" data-src="<%= produno.imagedos %>"></div>
                            </div>
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('<%= produno.imagetres %>')" data-src="<%= produno.imagetres %>"></div>
                            </div>
   
                        </div>
                    </div>
                </div>
                <!-- Product Images -->

                <!-- Product Info -->
                <div class="col-lg-5 col-md-9">
                    <div class="col-12 product-name large">
                        Descripción del producto
                    </div>
                    <div class="col-12 px-0">
                        <hr>
                    </div>
                    <div class="col-12">
                        <h3>
                            <%= produno.description %>
                        </h3>
                    </div>
                </div>
                <!-- Product Info -->

                <!-- Sidebar -->
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="col-12 border-left border-top sidebar h-100">
                        <div class="row">
                            <div class="col-12">
                            <span class="detail-price">
                                $<%= produno.price %>
                            </span>
                                <span class="detail-price-old">
                                 
                            </span>
                            </div>
                          
                            <div class="col-12 mt-3">
                                <a href="/addtocardproduno/<%= produno.id %>" class="btn btn-outline-dark" role="button"><i class="fas fa-cart-plus mr-2"></i>Agregar al carro</a>                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar -->

            </div>
        </div>

        

    </main>
    <!-- Main Content -->
</div>



<% include ../partials/_footer %>

