<% include ../partials/_header %>






<div class="container p-4">
    <div class="row">

       <div class= "col-md-6 mt-5">
            <div class="card text-center mx-auto" >
                 <div class="card-body">
                      <img src="<%= produno.imagePath %>" class="img-fluid">
                 </div>        
             </div>
        </div>
        <div class= "col-md-6 mt-5">
 
                <div class= "col-md-6 mt-5">
                        <div class="card text-center mx-auto" >
                             <div class="card-body">
                                 <h5><span>Nombre del producto</span>: <%= produno.product %></h5>
                                 <h5>Colores: <%= produno.colorstock %></h5>
                                 <h5>Talles: <%= produno.tallestock %></h5>
                                 <h5>Precio: $<%= produno.price %></h5>
             
                                   <a class="btn btn-primary" href="/produno/edit/<%= produno.id %>">Editar</a>
                             </div>  
             
                                 
                         </div>
             
                         <div class="card text-center mx-auto" >
                           <div class="card-body">
                              <a class="btn btn-danger" href="/produno/delete/<%= produno.id %>">
                                 Eliminar
                             </a>
                          </div>     
                       </div>
                    </div>
             
                 </div>
             </div>



     
            </div>
        </div>
        </div>



<% include ../partials/_footer %>
