<% include ../partials/_header %>



<main class="page col-md-12 ">
  <section class="shopping-cart dark">
    <div class="container">
         <div class="block-heading">
           <h2>Shopping Cart</h2>
         </div>
         <div class="content">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="items">
               <% if(products) { %>
                 <% for(var i = 0; i < products.length; i++) { %>										
              <div class="product">
                <div class="row">
                  <div class="col-md-3">
                    <img class="img-fluid mx-auto d-block image" src="<%= products[i].item.image%>">
                  </div>
                  <div class="col-md-8">
                    <div class="info">
                      <div class="row">
                        <div class="col-md-5 product-name">
                          <div class="product-name">
                            <a href="#"><%= products[i].item.title %> </a>
                            <div class="product-info">
                              <div> <a href="/remove/<%= products[i].item._id %>" class="btn btn-link text-danger"><i class="fas fa-trash-alt"></i></a></div>
                              <div>  <span class="value"> </span></div>
                              <div>  <span class="value"> </span></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 quantity">
                             <label for="quantity">Cantidad:</label>
                             <div class="container"> <a href="/sumar/<%= products[i].item._id %>" class="btn btn-link text-danger"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                             <div class="form-control quantity-input"><%= products[i].qty %> </div>
                             <div class="container"><a href="/reduce/<%= products[i].item._id %>" class="btn btn-link text-danger"><i class="fa fa-minus" aria-hidden="true"></i></a></div>
                        </div>
                        <div class="col-md-3 price">
                          <span>$<%= products[i].price %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>       
              
              <div class="col-md-3 ">
                  <strong>Total:<%= totalPrice %> </strong>
              </div>
              
              
              <a href="/prepagar" class="btn btn-primary btn-lg ">Iniciar Compra</a>
              
              <% } else { %>                                  
              <% } %>
              
                        
            </div>
          </div>
          
        </div> 
      </div>
    </div>
 </section>
</main>






<% include ../partials/_footer %>      
