<% include ../partials/_header %>

<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Agregue un nuevo producto</h3>
    </div>
    <div class="card-body">
      <form action="/ofertauno/new-ofertauno" method="POST">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="name" autofocus/>
        </div>
       <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="title" autofocus/>
        </div>
        <div class="form-group">
            <input type="text" name="image" class="form-control" placeholder="imagen 1" autofocus/>
          </div>
          <div class="form-group">
            <input type="text" name="imagedos" class="form-control" placeholder="imagen 2" autofocus/>
          </div>
          <div class="form-group">
            <input type="text" name="imagetres" class="form-control" placeholder="imagen 3" autofocus/>
          </div>
                 <div class="form-group">
            <input type="text" name="description" class="form-control" placeholder="descripcion" autofocus/>
          </div>
                 <div class="form-group">
            <input type="text" name="price" class="form-control" placeholder="precio" autofocus/>
          </div>
                 
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


  
    <div class="products-center">
            <!-- single product -->
            <% for(var i = 0; i < ofertauno.length; i++) { %>
              <article class="product">
         <div class="col-md-4 text-center">
          
          <div class="img-container">
              <a href="/ofertaunoredirect/<%= ofertauno[i].id %>">
                 <img src="<%= ofertauno[i].image %>" alt="product" class="product-img" />
              </a>   
          </div>
          <div class="img-container">
               <img src="<%= ofertauno[i].imagedos %>" alt="product" class="product-img" />
        </div>
        </div>

            <h3>  <%= ofertauno[i].description %> </h3>
            <h4> <%= ofertauno[i].price %> </h4>
            <a class="btn btn-danger" href="/ofertauno/delete/<%= ofertauno[i].id %>">
              Eliminar
          </a>

          </article>
          <% } %>
          <!-- end of single product -->
          
          </div>
          </section>
            </div>
          </div>
        </div>


        <% include ../partials/_footer %>
        