<% include ../partials/_header %>


            <div class="col-12">
                <!-- Main Content -->
                <main class="row">
                    <div class="col-12 bg-white py-3 my-3">
                        <div class="row">

                            <!-- Product Images -->
                            <div class="col-lg-5 col-md-12 mb-3">
                                <div class="col-12 mb-3">
                                    <div class="img-large border" style="background-image: url('<%= ofertauno.image %>')"></div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-sm-2 col-3">
                                            <div class="img-small border" style="background-image: url('<%= ofertauno.image %>')" data-src="<%= ofertauno.image %>"></div>
                                        </div>
                                        <div class="col-sm-2 col-3">
                                            <div class="img-small border" style="background-image: url('<%= ofertauno.imagedos %>')" data-src="<%= ofertauno.imagedos %>"></div>
                                        </div>
                                        <div class="col-sm-2 col-3">
                                            <div class="img-small border" style="background-image: url('<%= ofertauno.imagetres %>')" data-src="<%= ofertauno.imagetres %>"></div>
                                        </div>
                                        <div class="col-sm-2 col-3">
                                            <div class="img-small border" style="background-image: url('images/image-4.jpg')" data-src="images/image-4.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Images -->

                            <!-- Product Info -->
                            <div class="col-lg-5 col-md-9">
                                <div class="col-12 product-name large">
                                    Area 51M Gaming Laptop Welcome to A New ERA with 9TH GEN Intel CORE I9-9900K NVIDIA GEFORCE RTX 2080 8GB GDDR6 17.3" FHD 144HZ AG G-SYNC TOBII EYETRACKING (1TB SSD RAID|32GB RAM|10 PRO)
                                    <small>By <a href="#">Dell</a></small>
                                </div>
                                <div class="col-12 px-0">
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <ul>
                                        <li>Processor 8th Generation Intel Core i9-8950HK (6-Core, 12MB Cache, Overclocking up to 5.0GHz)</li>
                                        <li>Memory 32GB DDR4-2666MHz, 2x16GB Ram Speed Gaming Performance</li>
                                        <li>Hard Drive 1TB SSD RAID 0 (2x 512GB PCIe NVME M.2 SSDs) + 1TB (+8GB SSHD) Hybrid Drive</li>
                                        <li>17.3" Full HD display 1920 x 1080 resolution boasts impressive color and clarity. IPS technology for wide viewing angles.</li>
                                        <li>Video Card NVIDIA® GeForce® RTX 2080 with 8GB GDDR6</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Product Info -->

                            <!-- Sidebar -->
                            <div class="col-lg-2 col-md-3 text-center">
                                <div class="col-12 border-left border-top sidebar h-100">
                                    <div class="row">
                                        <div class="col-12">
                                        <span class="detail-price">
                                            $2,500
                                        </span>
                                            <span class="detail-price-old">
                                            $2,800
                                        </span>
                                        </div>
                                        <div class="col-xl-5 col-md-9 col-sm-3 col-5 mx-auto mt-3">
                                            <div class="form-group">
                                                <label for="qty">Quantity</label>
                                                <input type="number" id="qty" min="1" value="1" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <a href="/addtocardofertauno/<%= ofertauno.id %>" class="btn btn-outline-dark" role="button">Agregar al carro</a>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <button class="btn btn-outline-secondary btn-sm" type="button"><i class="fas fa-heart mr-2"></i>Add to wishlist</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Sidebar -->

                        </div>
                    </div>


                </main>
                <!-- Main Content -->
            </div>
            <% include ../partials/_footer %>
